<div class="row align-items-start">
  <div class="col">
    <app-title></app-title>
  </div>
</div>
<p></p>
<div class="row align-items-center">
  <div class="col">
    <app-card-button></app-card-button>
  </div>
  <div class="col">
    <app-card-button></app-card-button>
  </div>
  <div class="col">
    <app-card-button></app-card-button>
  </div>
</div>
<p></p>
<div class="row align-items-center">
  <div class="col">
    <app-card-button></app-card-button>
  </div>
  <div class="col">
    <app-card-button></app-card-button>
  </div>
  <div class="col">
    <app-card-button></app-card-button>
  </div>
</div>
<p></p>
<div class="row align-items-center">
  <div class="col">
    <app-card-button></app-card-button>
  </div>
  <div class="col">
    <app-card-button></app-card-button>
  </div>
  <div class="col">
    <app-card-button></app-card-button>
  </div>
</div>
