<div class="row align-items-start">
  <div class="col">
    <app-title></app-title>
  </div>
</div>
<p></p>
<ng-container *ngFor="let row of gameService.getBoard">
  <div class="row align-items-center">
    <ng-container *ngFor="let tile of row">
      <div class="col">
        <app-card-button [tile]="tile"></app-card-button>
      </div>
    </ng-container>
  </div>
</ng-container>
<p></p>
<div class="row align-items-start">
  <div class="col">
    <app-control-panel></app-control-panel>
  </div>
</div>
<div class="row align-items-start">
  <div class="col">
    <app-button></app-button>
  </div>
</div>
