@import "~bootstrap/dist/css/bootstrap.css";
@import "./styles/import.scss";

html,
body {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-image: url("./assets/backgrounds/74.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black;
  font-family: TitanOne;
}

h1,
p {
  text-align: center;
  margin: 10px;
}

@media (max-width-768px) {
  body {
    background-size: auto 100%;
  }
  .main-container {
    font-size: 16px;
  }
}
